h1 {
  background-color: #333333;
  color: white;
  text-align:center;
}
h2 {
  color:white;
}
p {
  background-color: gray;
  color: black;
  line-height: 17px;
}
a{
  color:white;
  font-size:25px;
  text-decoration:line-through;
}
h3{
  text-transform: uppercase;
}
#jibberish {
  width: 1500px;
  height: 500px;
  border: 7px solid white;
  text-align: justify;
}
#Bottom {
  width: 100px;
  height: 40px;
}
.Turtle {
  background-color: green;
  color: black;
  line-height: 17px;
}
.Ninja {
  background: repeating-radial-gradient(
  circle,
  purple,
  purple 10px,
  #4b026f 10px,
  #4b026f 20px
);
}
.Mike {
  background: repeating-radial-gradient(
  circle,
  green,
  green 12px,
  darkgreen 12px,
  darkgreen 20px
);
}
.nuts {
    background: repeating-radial-gradient(
    circle,
    gold,
    gold 10px,
    purple 10px,
    purple 20px
  );
}

.world {
  background: repeating-linear-gradient(
    -55deg,
    blue,
    blue 10px,
    #333 10px,
    #333 20px
  );
}
